<h3>Post Form</h3>

<%= form_tag posts_path do%>
  <label for="post_title">Post title:</label>
  <input type="text" id="post_title" name="post[title]" ><br>

  <label for="post_description">Post description:</label>
  <input type="text" id="post_description" name="post[description]" ><br>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="submit" value="Submit Post">
<%end%>

<%= params.inspect %>
