<h3>Post Form</h3>

<form action="index.html" method="post">
  <label for="post_title">Post Title:</label>
  <input type="text" id="post_title" name="post[title]" ><br>

  <label for="post_description">Post Title:</label>
  <input type="text" id="post_description" name="post[description]" ><br>

  <input type="submit" value="Submit Post">
</form>
